extends layout.pug

block content
    div
        h2 #{question.title}
        p #{question.body}
        p #{questionVoteCount}
        .question_voteContainer
            .question_upVote Up Vote
            .question_downVote Down Vote
        div.question_options
            .question_edit Edit
            .question_delete Delete
    each answer in answerVoteCount
        div
            p #{answer[0].body}  #{answer[1]}
            .answer_voteContainer
                .answer_upVote Up Vote
                .answer_downVote Down Vote
